@import url("https://fonts.googleapis.com/css2?family=Honk&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
.app {
  /*
  display: flex;
  flex-direction: column; */
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  font-family: "Roboto", sans-serif;
}

h1 {
  width: 100%;
  padding: 2rem;
  font-size: 5rem;
  background-color: #ffa500;
  text-align: center;
  font-family: "Monoton", system-ui;
  letter-spacing: 1rem;
  font-weight: 400;
}

/* ------------------------ */
.add-form {
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6600;
  gap: 1rem;
}
.quantity {
  width: 6.5rem;
  padding: 0.4rem 1rem;
  text-align: center;
  border: none;
  border-radius: 2.5rem;
  font-size: 1.5rem;
  /* margin: 0 2rem; */
}
form select option {
  border-radius: 2.5rem;
}
.text {
  padding: 0.5rem 1rem;
  flex-basis: 28rem;
  border: none;
  font-size: 1.5rem;
  border-radius: 2.5rem;
}

form button {
  /* padding: 1rem; */
  padding: 0.5rem 1rem;

  border-radius: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  background-color: cyan;
  font-weight: bold;
}

form h3 {
  font-size: 1.4rem;
}

.list {
  width: 100%;
  background-color: rgb(151, 84, 3);
  padding: 3rem 7rem;
  font-size: 2rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
ul {
  width: 90%;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}

ul li {
  list-style: none;
}
ul li .packed {
  text-decoration: line-through;
}
ul li input {
  margin-right: 1rem;
}
ul li button {
  margin-left: 1rem;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1.4rem;
}
.actions {
  display: flex;
  gap: 2rem;
}

.actions select,
.actions button {
  background-color: #f9f9f9;
  padding: 0.5rem;
  border-radius: 2.4rem;
  text-transform: uppercase;
  border: none;
}
.actions button {
  cursor: pointer;
}

/* ------------------------ */

.stats {
  padding: 2rem;
  background-color: #00ffff;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}
